@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    background: url('../img/fondooo.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0; /* Agregamos esto para eliminar los márgenes predeterminados del body */
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(14, 14, 14, 0.114);
    z-index: -1;
    top: 0;
    left: 0;
}

/* Estilos para el encabezado */
header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.logo, .btn-menu {
    float: left;
    line-height: 100px;
}

.btn-menu label {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.logo h1 {
    color: #fff;
    font-weight: 400;
    font-size: 35px;
    margin-left: 10px;
}

.menu {
    float: right;
    line-height: 100px;
}

.menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 25px;
    margin-right: 5px;
}

.menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

.main {
    margin-top: 5%;
    margin-left: 15%;
}

/* Media Query para dispositivos más pequeños */
@media only screen and (max-width: 768px) {
    .logo h1 {
        font-size: 30px;
    }

    .menu a {
        font-size: 20px;
    }

    .main {
        margin-left: 5%;
    }
}
